<ActionBar title="About"> </ActionBar>
<StackLayout class="p-10">
  <Label
    text="Icons made by https://www.flaticon.com/authors/roundicons-freebies"
    textwrap="true"
  ></Label>
  <Label
  text="API Link https://coronavirus-19-api.herokuapp.com"
  textwrap="true"
></Label>
<Label
    text="Tips image from https://www.bbc.com/indonesia/dunia-52127080"
    textwrap="true"
  ></Label>
  <Label
    text="Article from https://www.who.int/health-topics/coronavirus"
    textwrap="true"
  ></Label>
</StackLayout>
